# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# R history
*.Rhistory

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#Python log files
logs

#Sample files
sample

# Virtualenv
.venv/
venv/
ENV/
env/
.env/

# Pyenv
.python-version

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

#VSCode
.vscode
